body {
    background: #f5f5f5 !important;
}
.campaignWrapper {
    max-width: 1440px;
    margin: auto;
    background: #fff;
    min-height: 100vh;
    box-shadow: 0px 0px 10px #cccccc50;
    padding-bottom: 80px;
}
.topHeader {
    padding: 16px;
    text-align: center;
    background: #fd5f07;
}
.topHeader h3 {
    font-size: 21px;
    font-weight: normal;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.banner {
    padding: 32px 0px;
}
.banner h3 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    line-height: 60px;
}
.banner h3 span {
    color: #fd5f07;
}

.banner h4 {
    font-size: 50px;
    font-weight: 200 !important;
    text-align: center;
    line-height: 70px;
}
.banner h4 span {
    color: #fd5f07;
}
.campaignWrapper .btn.btn-outline-primary {
    color: #fff;
    border: 1px solid #fd5f07;
    font-size: 24px;
    padding: 8px 16px;
    background: #fd5f07;
}
.campaignWrapper .btn.btn-outline-primary:hover {
    background: #fff;
    color: #fd5f07;
}

.painPoints {
    padding: 64px 0px;
    background: #fd5f0720;
    margin: 32px 0px 0px 0px;
}
.painPoints h1 {
    font-size: 40px;
    color: #fd5f07;
    font-weight: bold;
    margin-bottom: 32px;
}

.painPoints ul {
    margin: 0px;
    padding: 0px;
}
.painPoints ul li {
    list-style-type: none;
    padding: 15px;
    padding-top: 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fd5f0750;
}
.painPoints ul li p {
    margin: 0px;
    padding: 0px;
    color: #00000095;
}
.painPoints ul li h4 {
    font-size: 21px;
    font-weight: bold;
    margin: 0px;
    padding: 0px 0px 5px 0px;
}
.painPoints ul li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.callout {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    z-index: 1000;
    padding: 16px;
    background: #ffebe0;
    box-shadow: 0px 0px 10px #33333330;
}

.masterclass {
    padding: 32px 0px;
}
.masterclass h1 {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}

.masterclass ol li {
    display: block;
    box-shadow: 0px 0px 3.5px #ccc;
    padding: 16px 0px 16px 64px;
    margin-bottom: 16px;
    font-size: 18px;
}

.masterclass ol {
    list-style: none; /* Remove default numbering */
    counter-reset: list-counter; /* Initialize counter */
}

.masterclass ol li {
    counter-increment: list-counter; /* Increment counter */
    position: relative;
}

.masterclass ol li::before {
    content: counter(list-counter) "."; /* Add counter before the item */
    position: absolute;
    left: 0px;
    font-weight: bold;
    color: #fff; /* Customize color */
    background: #fd5f07;
    padding: 16px 20px;
    height: 100%;
    top: 0px;
}

/*  */

.aboutTrainers {
    padding: 32px 0px;
    background: #333333;
    color: #fff;
}
.aboutTrainers h1 {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 36px;
    text-align: center;
}

.aboutTrainers h3 {
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
}
.aboutTrainers ol {
    margin: 0px;
    padding: 0px;
}
.aboutTrainers ol li {
    display: block;
    box-shadow: 0px 0px 3.5px #ccc;
    padding: 16px 0px 16px 64px;
    margin-bottom: 16px;
    font-size: 18px;
}

.aboutTrainers ol {
    list-style: none; /* Remove default numbering */
    counter-reset: list-counter; /* Initialize counter */
}

.aboutTrainers ol li {
    position: relative;
}
.aboutTrainers ol li span {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fff;
    padding: 16px;
    height: 100%;
}

.test {
    background: #fff;
    padding: 32px 0px;
}
.test .inner strong {
    color: #fd5f07;
}
.test .inner {
    padding: 16px;
    background: #fd5f0710;
    height: 100%;
    font-size: 21px;
    font-weight: 200 !important;
    line-height: 40px;
}
.test .inner p {
    font-size: 21px;
    font-weight: 200 !important;
    line-height: 40px;
}
